.dark-blue-bg {
  background-color: rgb(25, 42, 86);
}

.blur-bg {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-content {
  min-height: 70vh;
  background-color: rgb(126, 142, 165);
}

.light-gray {
  background-color: rgb(245, 246, 250);
}
